<mat-sidenav-container fullscreen>

   <mat-sidenav mode="side" opened>
      <mat-toolbar color="primary">
        <span>{{ title }}</span>
      </mat-toolbar>
      <mat-nav-list>
         <a routerLink="/movie-list" mat-list-item>Movies</a>
         <a routerLink="/list-list" mat-list-item>Lists</a>
         <a routerLink="/create-list" mat-list-item>New List</a>
      </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
      <router-outlet></router-outlet>
   </mat-sidenav-content>
</mat-sidenav-container>
